.slide-left-enter, 
.slide-left-leave
{ 
    -webkit-transition: 575ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -moz-transition: 575ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -ms-transition: 575ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -o-transition: 575ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    transition: 575ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
} 
 
.slide-left-enter {
    left: 100%;
}
.slide-left-enter.slide-left-enter-active {
    left: 0;
}
 
.slide-left-leave {
    left: 0;
}
.slide-left-leave.slide-left-leave-active{
    left: -100%;
}