<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Markbook</title>
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <base href="/"></base>
    <!-- Le styles -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
      <link href="/css/bootplus.css" rel="stylesheet">
      <link href="/css/font-awesome.css" rel="stylesheet">
      <link href="/app.css" rel="stylesheet">
      <style type="text/css">
      body {
        padding-top: 105px;
        padding-bottom: 40px;
      }
      .hero-unit {
          padding: 60px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      </style>
      <link href="/css/bootplus-responsive.css" rel="stylesheet">

   </head>

   <body ng-app="Markbook">

    <div class="navbar navbar-inverse navbar-fixed-top navbar-absolute" ng-controller="TopBar" ng-click="go($event)">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">NoteMD</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li ng-class="{active: isRoot()}"><a href="/">Home</a></li>
              <li ng-repeat="cat in categories" ng-animate="{enter: 'yoyo-enter', leave: 'yoyo-leave'}" ng-class="{active: isActive(cat.path)}"><a href="{{cat.path}}" ng-bind="cat.name"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="breadcrumbs" ng-controller="Breadcrumbs" data-spy="affix" data-offset-top="42">
      <ul class="breadcrumb">
        <li ng-repeat="item in breadcrumbs" ng-class="{active: $last}"><a ng-if="!$last" ng-href="{{item.path}}" ng-bind="item.name" ></a> <span ng-if="$last" ng-bind="item.name"></span> <span ng-if="!$last" class="divider">/</span></li>
      </ul>
    </div>
    <div class="container-fluid">
      <div class="row-fluid" id="container">
        <div id="sidebar" class="span3" ng-controller="SideBar" data-spy="affix">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Folders <button class="icon-level-up pull-right btn" ng-click="upDirectory()"></button></li>
              <li ng-repeat="dir in directories" ng-animate="{enter: 'appear-enter', leave: 'appear-leave'}">
                <a ng-href="{{dir.path}}" ng-bind="dir.name"></a>
              </li>
              <li class="nav-header" ng-hide="files.length == 0">Notes</li>
              <li ng-repeat="file in files" ng-animate="{enter: 'appear-enter', leave: 'appear-leave'}">
                <a ng-href="{{file.path}}" ng-bind="file.name"></a>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9 view" ng-view ng-animate="{enter: 'slide-enter', leave: 'slide-leave'}">
        </div><!--/span-->
      </div><!--/row-->


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_HTMLorMML">
   </script>
   <script>
MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () { 
        var TEX = MathJax.InputJax.TeX; 
        var MML = MathJax.ElementJax.mml; 
        TEX.Definitions.macros.cancel = 
["myCancel",MML.NOTATION.UPDIAGONALSTRIKE]; 
        TEX.Definitions.macros.bcancel = 
["myCancel",MML.NOTATION.DOWNDIAGONALSTRIKE]; 
        TEX.Parse.Augment({ 
                myCancel: function (name,notation) { 
                        var mml = this.ParseArg(name); 
  
this.Push(MML.menclose(mml).With({notation:notation})); 
                } 
        }); 
}); 
MathJax.Hub.Config({ 
  TeX: { 
    Macros: { 
      colorcancel: ["\\color{#1}{\\cancel{\\color{black}{#2}}}",2] 
    } 
  } 
}); </script>
    <script src="/js/sugar.js"></script>
    <script src="/app.js"></script>

   </body>
</html>
